<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tech Blog</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>

  <body>
    <header>
      <nav>
        <ul>
          <li>
            <a href="/">Homepage</a>
          </li>
          <li>
            <a href="/dashboard">Dashboard</a>
          </li>
          {{#if loggedIn}}
          <li>
            <a id="logout">Log Out</a>
          </li>
          {{else}}
          <li>
            <a href="/login">Login</a>
          </li>
          {{/if}}
        </ul>
      </nav>

      <a href="/"><h1 class="hero-title">The Tech Blog</h1></a>

    </header>
    <main>
      {{#if loggedIn}}
      {{else}}
      <div class="card" id="entry-card">
        <div class="entry-header" id="entry-header">
          <div class="card-name" id="entry-title">
            <h2>Welcome to my Tech Blog.</h2>
          </div>
        </div>
      </div>
      {{/if}}
      {{{body}}}
    </main>
    <footer>
      Thanks for visiting!
    </footer>

    {{#if loggedIn}}
      <script src="/javascript/logout.js"></script>
    {{/if}}
  </body>

</html>