<section class="card">
  <div class="card-header">
    <h2>Create new post</h2>
  </div>
  <div class="card-body">
    <form class="new-post-form">
      <div>
        <label for="post-title">Title of post</label>
        <input id="post-title" type="text" name="post-title" />
      </div>
      <div>
        <label for="post-content">Content of post</label>
        <textarea name="post-content" id="post-content"></textarea>
      </div>
      <button class="btn" type="submit">Submit post</button>
    </form>
  </div>
</section>

<script src="/javascript/add-post.js"></script>